body {
    color: #000;
    background-image: url(kaluga.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
}
